/************************
     Variables
***************************/


$white: #fff;

$background-grey: #f1f3f3;    // $color-primary: #424548;

$arrow-background: #BABFBF;   // $font-grey: #7e8a94;
$arrow-green : #6bbe98;
$arrow-grey: #BABFC3;

$h4-green: #6bbe98;
$h4-title: #4e5052;

/** Buttons **/
$button-color: #ced0d2;
$button-border: #bdc0c3;
$button-background: #6bbe98;  // dark green color
$button-grey: #CFD3D3; // grey color

/** Base Color **/


$base-color: #7e8a94;

/** Border Color **/
$border-bottom: #cbcfcf;


/************************
     Breakpoints
***************************/

$breakpoint-phones: 576px;
$breakpoint-tablet-md: 768px;
$breakpoint-tablet-lg: 992px;
$breakpoint-x-large: 1024px;

$breakpoint-xx-large: 1200px;
